<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="DataBrowsing/ChinaAchievements/ChinaAchievements.css">
    <title>海洋强国建设历史性成就</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">

</head>
<body>
    <header>
        <div class="topbnt_left">
            <ul>
                <li><a href="ChinaCatalogue.html">返回</a></li>
            </ul>
        </div>
        <h1><span>海洋强国建设历史性成就</span></h1>
        <p><span>Historical Achievements</span></p>
    </header>

    <div class="main">

        <div class="top5">
            <div class="top5-title">
                <span>综合量化评估</span>
            </div>
            <div class="top5-content">
                <ul>
                    <li>
                        <div class="cicle"></div>
                        <div class="li-content">
                            <span>经济民生指数</span>
                            <span>119.4</span>
                            <span>5.6%</span>
                            <span><img src="DataBrowsing/ChinaAchievements/images/up.png" alt=""></span>
                        </div>
                    </li>
                    <li>
                        <div class="cicle"></div>
                        <div class="li-content">
                            <span>科技创新指数</span>
                            <span>121.8</span>
                            <span>5.7%</span>
                            <span><img src="DataBrowsing/ChinaAchievements/images/up.png" alt=""></span>
                        </div>
                    </li>
                    <li>
                        <div class="cicle"></div>
                        <div class="li-content">
                            <span>资源利用指数</span>
                            <span>116.5</span>
                            <span>4.6%</span>
                            <span><img src="DataBrowsing/ChinaAchievements/images/up.png" alt=""></span>
                        </div>
                    </li>
                    <li>
                        <div class="cicle"></div>
                        <div class="li-content">
                            <span>对外开放指数</span>
                            <span>118.1</span>
                            <span>6.1%</span>
                            <span><img src="DataBrowsing/ChinaAchievements/images/up.png" alt=""></span>
                        </div>
                    </li>
                    <li>
                        <div class="cicle"></div>
                        <div class="li-content">
                            <span>管理合作指数</span>
                            <span>113.4</span>
                            <span>2.8%</span>
                            <span><img src="DataBrowsing/ChinaAchievements/images/up.png" alt=""></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="top5-title">
                <span>各区域海洋<br>生产总值及占比情况</span>
            </div>
            <div class="barChart"></div>
        </div>


        <div class="total">
            <div class="data1">
                <span>海洋领域消费</span>
                <p>恢复向好</p>
            </div>
            <div class="data2">
                <span>海洋固定资产投资</span>
                <p>增势良好</p>
            </div>
            <div class="data3">
                <span>海洋对外贸易</span>
                <p>量稳质提</p>
            </div>
            <canvas class="rain"></canvas>
            <canvas class="dashed"></canvas>
            <div class="sphere">
                <div class="sphere-bg"></div>
                <div class="sum">
                    <span>2023年<br>全国海洋生产总值</span>
                    <p>99097亿元</p>
                </div>
            </div>
            <div class="cicle3"></div>
            <div class="cicle4"></div>
            <div class="cicle5"></div>
            <div class="cicle6"></div>
            <div class="cicle7"></div>
            <div class="cicle8">
                <span>58968</span>
                <p style="font-size: 15px;">海洋服务业增加(亿元)</p>
            </div>
            <div class="cicle9">
                <span>6.0%</span>
                <p>比上年增长</p>
            </div>
            <div class="cicle10">
                <span style="font-size: 30px;">&gt;全国</span>
                <p>制造业增速</p>
            </div>
            <div class="cicle11">
                <span>⬆0.4%</span>
                <p>拉动国民经济</p>
            </div>
        </div>
        <div class="container3">
            <div class="analyse-title">
                <span>三产业增加值<br>占海洋生产总值比重</span>
            </div>
            <!-- 柱状图 -->
            <div class="stackChart"></div>
            <div class="analyse-title">
                <span>近9年海洋生产总值</span>
            </div>
            <!-- 折线图 -->
            <div class="lineChart"></div>
        </div>

    </div>

    <!-- 底部模块 -->
    <div class="bottom">
        <h5><span>数据状况</span></h5>
        <p>Data Status</p>
    </div>
</body>

<script type="text/javascript" src="DataBrowsing/ChinaAchievements/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="DataBrowsing/ChinaAchievements/js/echarts.min.js"></script>
<script type="text/javascript" src="DataBrowsing/ChinaAchievements/js/echarts-liquidfill.min.js"></script>
<script type="text/javascript" src="DataBrowsing/ChinaAchievements/js/ChinaAchievements.js"></script>

</html>