<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国数据目录</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
    <link rel="stylesheet" href="DataBrowsing/ChinaCatalogue/ChinaCatalogue.css">
    <script type="text/javascript" src="DataBrowsing/ChinaCatalogue/js/ChinaCatalogue.js"></script>
</head>
<body>
<header class="header">
    <a href="#" class="logo">海洋<span>之窗</span></a>

    <nav class="navbar">
        <a href="index.html" class="menu-item">主页</a>
        <a href="ChinaCatalogue.html" class="menu-item active">我国水域监测</a>
        <a href="cu.html" class="menu-item">全球生态可视化</a>
        <a href="environment.html" class="menu-item">海洋保护</a>
        <a href="Caculate.html" class="menu-item">塑料足迹</a>
        <a href="#" class="menu-item" onclick="redirectToExternalLink()">鱼种识别</a>

    </nav>
</header>
<div id="hero-slides">

    <div id="slides">
        <div class="slide" style="background-image: url(DataBrowsing/ChinaCatalogue/R.jfif)">
            <div class="number">01</div>
            <div class="body">
                <div class="location">Monitoring of water quality in Chinese waters</div>
                <div class="headline">我国海域水质监测</div><a href="China.html">
                <div class="link">了解更多</div></a>
            </div>
        </div>
        <div class="slide" style="background-image: url(DataBrowsing/ChinaCatalogue/RD2.jpg)">
            <div class="number">02</div>
            <div class="body">
                <div class="location">Monitoring of Historical Discharge Sources into the Sea</div>
                <div class="headline">历年直排海污染源监测</div><a href="WaterQuality.html">
                <div class="link">了解更多</div></a>
            </div>
        </div>
        <div class="slide" style="background-image: url(DataBrowsing/ChinaCatalogue/RDB.jpg)">
            <div class="number">03</div>
            <div class="body">
                <div class="location">Historical Achievements in Building a Maritime Power</div>
                <div class="headline">海洋强国建设历史性成就</div><a href="ChinaAchievements.html">
                <div class="link">了解更多</div></a>
            </div>
        </div>
    </div>

</div>
<script>
    function redirectToExternalLink() {
        window.location.href = "http://www.wocean.xyz/";
    }
</script>
</body>
</html>