<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>核污染水排放时间线</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
    <link rel="stylesheet" href="OceanEnvironment/Future/Future.css">
</head>
<body>
<div id="timeline-1" class="timeline-container">
    <div class="timeline-header">
        <h2 class="timeline-header__title">核污染水排放时间线</h2>
        <h3 class="timeline-header__subtitle">日本福岛第一核电站核污染水排海。</h3>
    </div>
    <div class="timeline">
        <div class="timeline-item" data-text="2011年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image1.jpg">
                <h2 class="timeline__content-title">3月11日</h2>
                <p class="timeline__content-desc">日本东北部海域发生9.0级地震并引发特大海啸，受其双重影响，福岛第一核电站大量放射性物质泄露。</p>
            </div>
        </div>

        <div class="timeline-item" data-text="2019年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image2.jpg">
                <h2 class="timeline__content-title">9月12日</h2>
                <p class="timeline__content-desc">日本环境大臣原田义昭主张福岛核污水排入大海。</p>
                <p class="timeline__content-desc">原田义昭10日在日本首都东京一次记者会上说：“我认为别无选择，只能把（福岛）污水排入大海，使污水稀释。”</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2021年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image3.jpg">
                <h2 class="timeline__content-title">4月13日</h2>
                <p class="timeline__content-desc">日本内阁通过了将经过处理的放射性废水排入海洋的计划，并宣布将在2年内开始排海工作。排放前会用大量海水将处理水中无法经ALPS去除的氚和碳-14分别进一步稀释至国家排放标准的1/40和1/1000以下。经ALPS净化和海水稀释后符合世界卫生组织饮用标准的“处理水”，将通过一条约1公里长的海底隧道排入大海。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2022年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image4.jpg">
                <h2 class="timeline__content-title">7月22日</h2>
                <p class="timeline__content-desc">3月15日，据共同社报道，针对东京电力公司福岛第一核电站处理水排放入海，日本环境省和原子能规制委员会等相关机构14日同意了2022年度的监测计划，将把对海水中放射性物质氚的测定地点从目前的12处增至50处，测定次数定为每年4次。</p>
<!--                <p class="timeline__content-desc">当地时间6月8日，据央视新闻，日本原子能规制委员会批准关于核电站产生的高放射性废弃物的最终处理场所的条件草案，包括避开有活断层的地方等。</p>-->
                <p class="timeline__content-desc">当地时间7月22日上午，日本原子能规制委员会正式批准了东京电力公司有关福岛第一核电站事故后的核污染水排海计划。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image5.jpg">
                <h2 class="timeline__content-title">4月26日</h2>
                <p class="timeline__content-desc">据日本共同社4月26日报道，东京电力公司（东电）25日宣布，福岛第一核电站核污染水排海项目海底隧道挖掘工作已结束。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image6.jpg">
                <h2 class="timeline__content-title">6月12日</h2>
                <p class="timeline__content-desc">日本福岛核污水排海设备12日上午开始试运行。日本国内外再次掀起反对声浪。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image8.jpg">
                <h2 class="timeline__content-title">8月21日</h2>
                <p class="timeline__content-desc">日本首相岸田文雄表示，日本福岛第一核电站经处理后核废水最早于8月24日起排海。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image9.jpg">
                <h2 class="timeline__content-title">8月24日</h2>
                <p class="timeline__content-desc">第一次核污水排放时间为8月24日至9月11日，为期19天。北京时间24日中午12点，日本福岛第一核电站启动核污染水排海。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image10.jpg">
                <h2 class="timeline__content-title">10月5日</h2>
                <p class="timeline__content-desc">当地时间10月5日10时30分左右，日本东京电力公司福岛第一核电站核污染水第二轮排海开始，于当地时间23日中午完成。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="2023年">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image11.jpg">
                <h2 class="timeline__content-title">11月2日</h2>
                <p class="timeline__content-desc">11月2日，日本正式开始排放第三批福岛核污水。当地时间20日报道，东京电力公司称，福岛第一核电站第三轮核污染水排海已于当天中午左右结束。</p>
            </div>
        </div>
        <div class="timeline-item" data-text="未来">
            <div class="timeline__content">
                <img class="timeline__img" src="OceanEnvironment/Future/image12.jpg">
                <h2 class="timeline__content-title">Future</h2>
                <p class="timeline__content-desc">130万吨核污水贻害全球，福岛沿岸拥有全球最强洋流，从排放之日起57天内，放射性物质将扩散至太平洋大半区域，10年后蔓延至全球海域，其危害将深刻影响鱼类迁徙、远洋渔业、人类健康、生态安全等方面。</p>
            </div>
        </div>
    </div>
</div>

<div role="navigation">
    <input type="checkbox" id="menu-toggle"/>
    <label id="trigger" for="menu-toggle"></label>
    <label id="burger" for="menu-toggle"></label>
    <ul id="menu">
        <li><a href="index.html">主页</a></li>
        <li><a href="China.html">中国海域水质监测</a></li>
        <li><a href="cu.html">全球生态可视化</a></li>
        <li><a href="environment.html">海洋保护</a></li>
        <li><a href="Caculate.html">塑料足迹</a></li>
        <li><a href="#" class="menu-item" onclick="redirectToExternalLink()">鱼种识别</a></li>
<!--        class="current-->
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="OceanEnvironment/Future/Future.js"></script>
<script>
    function redirectToExternalLink() {
        window.location.href = "http://www.wocean.xyz/";
    }
</script>
</body>
</html>
