<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
    <link rel="stylesheet" href="Home/Home.css">
</head>
<body>
<div class="wrap">
  <div class="cluster one"></div>
  <div class="cluster two"></div>
  <div class="cluster three"></div>
  <div class="cluster four"></div>
  <div class="cluster five"></div>
</div>


<div class="wrap">
  <div class="shark">
    <div class="front">
    </div>
    <div class="tail">
    </div>
  </div>
</div>

<h1><span>海</span><span>洋</span><br>
  <span>&nbsp;</span><span>之</span><span>窗</span></h1>

<button class="intro" >进入</button>
<footer>
    <a href="https://beian.miit.gov.cn">粤ICP备2024228011号</a>
</footer>


<script src="Home/gsap.min.js"></script>
<script src="Home/jquery-1.11.0.min.js"></script>
<script src="Home/Home.js"></script>
</body>
</html>