<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <title>海洋污染问题</title>
  <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
  <meta name="description" content="海洋污染正在增长，让我们共同努力，以拯救地球免受有害的环境水污染问题。">
  <meta name="keywords" content="环境问题，中国的环境问题，污染问题，气候变化，污染，环境退化，资源枯竭">
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-----CSS----->
  <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-layout.css">
  <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

  <!-----Javascript----->
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="OceanEnvironment/PollutionMenu/scripts/main.min.js"></script>



</head>

<body>
<header class="header">
  <a href="#" class="logo">海洋<span>之窗</span></a>

  <nav class="navbar">
    <a href="index.html" class="menu-item">主页</a>
    <a href="ChinaCatalogue.html" class="menu-item">中国水域监测</a>
    <a href="cu.html" class="menu-item">全球生态可视化</a>
    <a href="environment.html" class="menu-item active">海洋保护</a>
    <a href="Caculate.html" class="menu-item">塑料足迹</a>
    <a href="#" class="menu-item" onclick="redirectToExternalLink()">鱼种识别</a>
  </nav>
</header>
<div class="banner">
	<span class="banner-title-L">
		<p><strong>生态污染资讯</strong></p>
	</span>
  <div class="image-wrapper" style="background-image: url(OceanEnvironment/PollutionMenu/images/banner.gif);"></div>
</div>

<div class="columnBg">
  <div class="row-break-10px"></div>
  <div class="row-break-10px"></div>

  <div id="notNews_hide">
    <div class="subtitle-tag">
      <div class="name"><a href="environment.html">显示全部</a></div>
    </div>

    <div class="subtitle-tag">
      <div class="subtitle-ul">
        <ul>
          <li><a href="oceans.html">海洋/海岸</a></li>
          <li><a href="water.html">水</a></li>
          <li><a href="plastic.html">塑料污染</a></li>
        </ul>
      </div><!-- subtitle-ul -->
    </div><!-- subtitle-tag -->
  </div><!-- notNews_hide -->
  <!-------------------------------------------------------------------------------->
  <!-- main column begin -->
  <div class="button-menu">
    <a href="PlasticInOcean.html" class="button"><i class="fa-solid fa-bottle-water"></i><span>塑料<br>污染</span></a>
    <hr class="menu-divider">
    <a href="SeawaterMonitoring.html" class="button"><i class="fa-solid fa-circle-radiation"></i><span>核辐射</span></a>
  </div>
  <div class="masonry">
    <div class="item">
      <nav id="oceans"></nav>
      <nav id="plastic"></nav>
      <a target="_NEWS" href="http://www.news.cn/2023-10/30/c_1129948437.htm"><img src="OceanEnvironment/PollutionMenu/express-img/20000321-3695-img0.jpg">
        <p><h4>中国海洋塑料污染治理新模式获联合国“地球卫士奖”</h4></a>

      中国海洋塑料废弃物治理新模式“蓝色循环”</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/4/77493/"><img src="OceanEnvironment/PollutionMenu/express-img/20210311-0020.jpg">
        <p><h4>中国入海垃圾数据之辩折射垃圾管理变迁</h4></a>

      中国海洋垃圾数据争议反映了垃圾管理变迁，研究者差异揭示了中国近年来在垃圾管控方面的巨大改变。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogue.net/zh/7/43664/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0017.jpg">
        <p><h4>中国海洋战略的眼下与远方</h4></a>

      中国的第二个海洋经济发展五年规划显示，海洋的危机和机会从未像现在这样受到重视。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <nav id="plastic"></nav>
      <a target="_NEWS" href="https://chinadialogue.net/zh/7/43254/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0018.jpg">
        <p><h4>我们该如何拯救海洋</h4></a>

      到2050年，海洋中塑料的数量将超过鱼类，拯救地球，势在必行，艾瑞克·范·塞彼利表示。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <nav id="plastic"></nav>
      <a target="_NEWS" href="https://faunalytics.org/plastic-gear-loss-from-industrial-fishing-simplified-chinese/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0028.jpg">
        <p><h4>工业捕鱼遗落的塑料渔具</h4></a>

      据估计，丢弃和遗失的渔具是工业捕鱼的一个重大的附带影响。 该报告对2018年落入海洋的庞大渔具量进行了估计。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogue.net/zh/5/42879/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0019.jpg">
        <p><h4>非法捕捞需要全球共同应对</h4></a>

      “我们的海洋”国际会议即将在智利召开，各国将在应对非法违规海洋捕捞上取得多大的进展？应对可能导致全球渔业资源崩溃的违法违规捕捞，全球需要一致行动。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogue.net/zh/5/42247/"><img src="OceanEnvironment/PollutionMenu/express-img/17022402-2721-img0.jpg">
      <p><h4>公海鱼类减少，中国面临危机</h4></a>

    一个由各国政要组成的国际组织说，公海鱼类数量下降是中国不得不面对的一大健康问题。</p>

  </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://ipen.org/sites/default/files/documents/ipen-ocean-pollutants-v2_7-zh.pdf"><img src="OceanEnvironment/PollutionMenu/express-img/20200630-0024.png">
        <p><h4>海洋污染物指南</h4></a>

      人类健康和海洋生物面临的毒害威胁</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://www.cma.gov.cn/2011xwzx/2011xqxkj/2011xkjdt/202401/t20240119_6014856.html"><img src="OceanEnvironment/PollutionMenu/express-img/20240322-0017.jpeg">
        <p><h4>多机构联合发布2023年全球海洋环境变化研究报告—— 海洋主要气候变化指标均创新高</h4></a>

      2023年全球海洋环境报告指出，全球海洋变化加剧，严重威胁生态环境和可持续发展。</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://news.un.org/zh/story/2023/09/1122117"><img src="OceanEnvironment/PollutionMenu/express-img/19100715-4391-img0.jpg">
        <p><h4>所罗门群岛总理索加瓦雷：日本必须立即停止排放核废水</h4></a>

      所罗门群岛总理索加瓦雷今天在联大一般性辩论上发言，呼吁日本探索处理核废水的其他方案，并立即停止将其排入太平洋。他强调，“如果这些核废水是安全的，就应该储存在日本”。 </p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://cn.nytimes.com/asia-pacific/20230828/fukushima-water-seafood-japan-china/"><img src="OceanEnvironment/PollutionMenu/express-img/19111411-3219-img0.png">
        <p><h4>福岛核废水排海后，海鲜还能吃吗</h4></a>

      日本从周四开始向海洋排放来自被毁的福岛核电站经过处理的放射性废水，专家表示，这些废水现在不会、将来也不会对吃海鲜的人构成健康风险。但是，即使有科学证据证明这一点，也不是每个人都相信。</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://kcgwei.mystrikingly.com/25"><img src="OceanEnvironment/PollutionMenu/express-img/19100715-4391-img0.webp">
        <p><h4>海洋放流</h4></a>

      若我们将污染物排放到河川中，相较于海洋，河川的水并不多，无法有效地稀释污染物，会让污染物大大影响河川的生态环境，而排放到海洋中，有大量的海水来稀释污染物，对环境的影响，相对来说就没有那么大。</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://www.bbc.com/zhongwen/simp/science-65963585"><img src="OceanEnvironment/PollutionMenu/express-img/19100715-4134-img0.jpg">
        <p><h4>日本福岛核废水排海箭在弦上亚洲邻居反应激烈 “不仅是经济问题，还生死攸关”</h4></a>

      经过多年国内外激辩，以及数个首相来来去去，日本政府计划在今夏将福岛第一核电站储存的超过 130 万吨核废水排入太平洋，引发全球关注及亚洲邻居紧张。</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/77500/"><img src="OceanEnvironment/PollutionMenu/express-img/17110913-9021-img0.JPG">
        <p><h4>清除河流和海洋中塑料垃圾的20项发明</h4></a>

      从塑料粉碎机到航拍无人机，全球正在开发应对海洋塑料污染的新技术。</p>

    </div>
    <div class="item">
      <nav id="water"></nav>
      <nav id="plastic"></nav>
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/93054/"><img src="OceanEnvironment/PollutionMenu/express-img/20230215-0011.jpg">
        <p><h4>印尼如何改“塑”命？</h4></a>

      印度尼西亚正在与荷兰合作打捞河流中的垃圾，防止其进入海洋。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://www.guancha.cn/internation/2023_08_23_705991.shtml"><img src="OceanEnvironment/PollutionMenu/express-img/17101211-3214-img0.JPG">
        <p><h4>清华大学团队模拟日本核污水排海：240天到达我国沿海</h4></a>

      早在2021年，清华大学深圳国际研究生院海洋工程研究院张建民院士、胡振中副教授团队从宏观和微观两种不同的角度分别建立了海洋尺度下放射性物质的扩散模型，并实现了福岛核污水排放计划的长期模拟。其中，宏观模拟结果表明，核污水在排放后240天就会到达我国沿岸海域，1200天后将到达北美沿岸并覆盖几乎整个北太平洋。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://www.bbc.com/zhongwen/simp/science-65963585"><img src="OceanEnvironment/PollutionMenu/express-img/20210408-0001-img0.jpg">
        <p><h4>十四五”海洋生态环境蓝图</h4></a>

      “十四五”规划纲要中海洋一章反映出中国生态理念的向外延伸。</p>

    </div>

    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/5/77485/"><img src="OceanEnvironment/PollutionMenu/express-img/20210209-0002-img0.jpg">
        <p><h4>14国联手能否让全球海洋保护重回正轨？</h4></a>

      去年年底，由14个国家做出的雄心勃勃的海洋保护承诺广受欢迎，但他们能否实现目标，并带动其他国家加入保护行列？</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/5/77470/"><img src="OceanEnvironment/PollutionMenu/express-img/20231006-0003-img0.jpg">
        <p><h4>海洋绿洲、蓝色碳汇：殊为珍贵的海草床</h4></a>

      虽然是“三大海洋生态系统”之一，但海草床默默无闻。它是什么样的生物，有什么特别的生态价值，又面临哪些威胁，需要如何保护？我们以图文形式为您解答。</p>

    </div>
    <div class="item">
      <nav id="oceans"></nav>
      <nav id="water"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/77345/"><img src="OceanEnvironment/PollutionMenu/express-img/20190207-0009-img0.jpg">
        <p><h4>废弃的盐水：生态问题还是经济机遇？</h4></a>

      新研究引发了对全球日渐增多的海水淡化厂排出的有毒盐水的重重担心，凯瑟琳·厄尔利报道称。</p>

    </div>
    <div class="item">
      <nav id="water"></nav>
      <nav id="oceans"></nav>
      <a target="_NEWS" href="https://chinadialogueocean.net/zh/6/77341/"><img src="OceanEnvironment/PollutionMenu/express-img/20190104-0014.jpg">
        <p><h4>化学品污染事件后的渔村困境</h4></a>

      一场有毒化学品泄漏事故过去两个月后，“受伤”的渔村仍在经历纠结和困扰。</p>

    </div>
  </div>
  <!-- main column end -->
  <!-------------------------------------------------------------------------------->
</div><!--- columnBg --->


<script src="OceanEnvironment/PollutionMenu/js/news-article.js"></script>

<!-- tmp_cn_sec-footer end -->

</body>
</html>