<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>塑料环境污染问题</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
    <meta name="description" content="塑料污染正在增长，让我们共同努力，以拯救我们的星球免受有害的环境污染问题。">
    <meta name="keywords" content="环境问题，中国的环境问题，污染问题，气候变化，污染，环境退化，资源枯竭">
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-----CSS----->
    <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-layout.css">
    <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

    <!-----Javascript----->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="OceanEnvironment/PollutionMenu/scripts/main.min.js"></script>

</head>


<body>
<header class="header">
    <a href="#" class="logo">海洋<span>之窗</span></a>

    <nav class="navbar">
        <a href="index.html" class="menu-item">主页</a>
        <a href="ChinaCatalogue.html" class="menu-item">中国水域监测</a>
        <a href="cu.html" class="menu-item">全球生态可视化</a>
        <a href="environment.html" class="menu-item active">海洋保护</a>
        <a href="Caculate.html" class="menu-item">塑料足迹</a>
        <a href="#" class="menu-item" onclick="redirectToExternalLink()">鱼种识别</a>
    </nav>
</header>
<div class="banner">
	<span class="banner-title-L">
		<p><strong>生态污染资讯</strong></p>
	</span>
    <div class="image-wrapper" style="background-image: url(OceanEnvironment/PollutionMenu/images/banner.gif);"></div>
</div>

<div class="columnBg">
    <div class="row-break-10px"></div>
    <div class="row-break-10px"></div>

    <div id="notNews_hide">
        <div class="subtitle-tag">
            <div class="name"><a href="environment.html">显示全部</a></div>
        </div>

        <div class="subtitle-tag">
            <div class="subtitle-ul">
                <ul>
                    <li><a href="oceans.html">海洋/海岸</a></li>
                    <li><a href="water.html">水</a></li>
                    <li><a href="plastic.html">塑料污染</a></li>
                </ul>
            </div><!-- subtitle-ul -->
        </div><!-- subtitle-tag -->
    </div><!-- notNews_hide -->
    <!-------------------------------------------------------------------------------->
    <!-- main column begin -->
    <div class="button-menu">
        <a href="PlasticInOcean.html" class="button"><i class="fa-solid fa-bottle-water"></i><span>塑料<br>污染</span></a>
        <hr class="menu-divider">
        <a href="SeawaterMonitoring.html" class="button"><i class="fa-solid fa-circle-radiation"></i><span>核辐射</span></a>
    </div>
    <div class="masonry">
        <div class="item">
            <nav id="oceans"></nav>
            <nav id="plastic"></nav>
            <a target="_NEWS" href="http://www.news.cn/2023-10/30/c_1129948437.htm"><img src="OceanEnvironment/PollutionMenu/express-img/20000321-3695-img0.jpg">
                <p><h4>中国海洋塑料污染治理新模式获联合国“地球卫士奖”</h4></a>

            中国海洋塑料废弃物治理新模式“蓝色循环”</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <nav id="plastic"></nav>
            <a target="_NEWS" href="http://zghjgl.ijournal.cn/html/zghjgl/2019/3/20190311.htm"><img src="OceanEnvironment/PollutionMenu/express-img/17080414-3866-img0.jpg">
                <p><h4>中国水污染防治40年回顾与展望</h4></a>

            改革开放40多年来，我国水污染防治工作取得巨大成效。本文通过回顾我国水污染防治发展历程和总结不同阶段我国流域水污染防治工作特点，提出了面向2035年水生态环境保护的管理建议，以期为2035年美丽中国水环境建设提供参考。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <nav id="plastic"></nav>
            <nav id="oceans"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/93054/"><img src="OceanEnvironment/PollutionMenu/express-img/20230215-0011.jpg">
                <p><h4>印尼如何改“塑”命？</h4></a>

            印度尼西亚正在与荷兰合作打捞河流中的垃圾，防止其进入海洋。</p>

        </div>
        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/93361/"><img src="OceanEnvironment/PollutionMenu/express-img/20230620-0005-img0.jpg">
                <p><h4>全球塑料协定接近达成</h4></a>

            各国代表齐聚巴黎，推动达成一项终结塑料污染的全球协定。这对于海洋将带来什么影响？</p>

        </div>
        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/93654/"><img src="OceanEnvironment/PollutionMenu/express-img/20230913-0004-img0.jpg">
                <p><h4>“零草案”出台，离全球塑料条约达成又近了一步</h4></a>

            草案将会为全球协议的达成铺平道路，塑料污染问题有望得到解决。</p>

        </div>
        <div class="item">
            <nav id="oceans"></nav>
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogue.net/zh/7/43254/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0018.jpg">
                <p><h4>我们该如何拯救海洋</h4></a>

            到2050年，海洋中塑料的数量将超过鱼类，拯救地球，势在必行，艾瑞克·范·塞彼利表示。</p>

        </div>

        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/90606/"><img src="OceanEnvironment/PollutionMenu/express-img/20210924-0012.jpg">
                <p><h4>渔民为中国海洋垃圾减量贡献力量</h4></a>

            如果被给予正确的激励，辅之以环保意识的提升，渔民可以有效控制渔业垃圾入海，并打捞已经入海的垃圾。</p>

        </div>
        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/91210/"><img src="OceanEnvironment/PollutionMenu/express-img/20220309-0013.jpg">
                <p><h4>世界各国决定携手终结塑料污染</h4></a>

            联合国关于终结塑料污染的决议草案被形容为《巴黎协定》以来最重要的国际环境协议。</p>

        </div>
        <div class="item">
            <nav id="oceans"></nav>
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://faunalytics.org/plastic-gear-loss-from-industrial-fishing-simplified-chinese/"><img src="OceanEnvironment/PollutionMenu/express-img/20230322-0028.jpg">
                <p><h4>工业捕鱼遗落的塑料渔具</h4></a>

            据估计，丢弃和遗失的渔具是工业捕鱼的一个重大的附带影响。 该报告对2018年落入海洋的庞大渔具量进行了估计。</p>

        </div>
        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/91760/"><img src="OceanEnvironment/PollutionMenu/express-img/20220519-0006-img0.png">
                <p><h4>塑料：东南亚气候危机的隐形帮凶</h4></a>

            塑料从生产到废弃物处理都会释放大量的温室气体，甚至可能影响到海洋吸收温室气体的能力。</p>

        </div>
    </div>
    <!-- main column end -->
    <!-------------------------------------------------------------------------------->
</div><!--- columnBg --->

<script src="OceanEnvironment/PollutionMenu/js/news-article.js"></script>


</body>
</html>