<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>水污染问题</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
    <meta name="description" content="水污染正在增长，让我们共同努力，以拯救我们的星球免受有害的环境污染问题。">
    <meta name="keywords" content="环境问题，中国的环境问题，污染问题，气候变化，污染，环境退化，资源枯竭">
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-----CSS----->
    <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-layout.css">
    <link rel="stylesheet" href="OceanEnvironment/PollutionMenu/styles/my-main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

    <!-----Javascript----->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="OceanEnvironment/PollutionMenu/scripts/main.min.js"></script>


</head>

<body>
<header class="header">
    <a href="#" class="logo">海洋<span>之窗</span></a>

    <nav class="navbar">
        <a href="index.html" class="menu-item">主页</a>
        <a href="ChinaCatalogue.html" class="menu-item">中国水域监测</a>
        <a href="cu.html" class="menu-item">全球生态可视化</a>
        <a href="environment.html" class="menu-item active">海洋保护</a>
        <a href="Caculate.html" class="menu-item">塑料足迹</a>
        <a href="#" class="menu-item" onclick="redirectToExternalLink()">鱼种识别</a>
    </nav>
</header>
<div class="banner">
	<span class="banner-title-L">
		<p><strong>生态污染资讯</strong></p>
	</span>
    <div class="image-wrapper" style="background-image: url(OceanEnvironment/PollutionMenu/images/banner.gif);"></div>
</div>

<div class="columnBg">
    <div class="row-break-10px"></div>
    <div class="row-break-10px"></div>

    <div id="notNews_hide">
        <div class="subtitle-tag">
            <div class="name"><a href="environment.html">显示全部</a></div>
        </div>

        <div class="subtitle-tag">
            <div class="subtitle-ul">
                <ul>
                    <li><a href="oceans.html">海洋/海岸</a></li>

                    <li><a href="water.html">水</a></li>
                    <li><a href="plastic.html">塑料污染</a></li>
                </ul>
            </div><!-- subtitle-ul -->
        </div><!-- subtitle-tag -->
    </div><!-- notNews_hide -->
    <!-------------------------------------------------------------------------------->
    <!-- main column begin -->
    <div class="button-menu">
        <a href="PlasticInOcean.html" class="button"><i class="fa-solid fa-bottle-water"></i><span>塑料<br>污染</span></a>
        <hr class="menu-divider">
        <a href="SeawaterMonitoring.html" class="button"><i class="fa-solid fa-circle-radiation"></i><span>核辐射</span></a>
    </div>
    <div class="masonry">
        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://www.ohchr.org/zh/stories/2021/03/water-crisis-has-major-impact-human-rights-expert-says"><img src="OceanEnvironment/PollutionMenu/express-img/17102716-2116-img0.JPG">
                <p><h4>专家表示，水资源危机“对人权具有重大影响”</h4></a>

            联合国人权与环境问题专家戴维·博伊德在瑞士日内瓦向人权理事会提交最新报告时表示：“水是人类及地球上所有生命赖以生存的命脉。</p>

        </div>

        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://www.earthshare.org/zh/ways-to-reduce-water-pollution-this-summer/"><img src="OceanEnvironment/PollutionMenu/express-img/17102714-2410-img0.JPG">
                <p><h4>今年夏天减少水污染的方法</h4></a>

            在海滩或湖边度过轻松的夏日是很难做到的。不幸的是，这些温暖的月份也给水道带来了毒素和过剩的破坏性营养物质。众所周知，热浪和干旱也会将污染物带入我们的供水系统。那么，对此可以做些什么呢？</p>

        </div>
        <div class="item">
            <nav id="plastic"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/92129/"><img src="OceanEnvironment/PollutionMenu/express-img/20220726-0007-img0.png">
                <p><h4>塑料之河：追踪湄南河的垃圾</h4></a>

            发源于泰国中部、流经曼谷并归于大海的湄南河是泰国最重要的一条河流。如今这条河正被塑料淹没。</p>

        </div>
        <div class="item">
            <nav id="oceans"></nav>
            <nav id="water"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/77345/"><img src="OceanEnvironment/PollutionMenu/express-img/20190207-0009-img0.jpg">
                <p><h4>废弃的盐水：生态问题还是经济机遇？</h4></a>

            新研究引发了对全球日渐增多的海水淡化厂排出的有毒盐水的重重担心，凯瑟琳·厄尔利报道称。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <nav id="plastic"></nav>
            <a target="_NEWS" href="http://zghjgl.ijournal.cn/html/zghjgl/2019/3/20190311.htm"><img src="OceanEnvironment/PollutionMenu/express-img/17080414-3866-img0.jpg">
                <p><h4>中国水污染防治40年回顾与展望</h4></a>

            改革开放40多年来，我国水污染防治工作取得巨大成效。本文通过回顾我国水污染防治发展历程和总结不同阶段我国流域水污染防治工作特点，提出了面向2035年水生态环境保护的管理建议，以期为2035年美丽中国水环境建设提供参考。</p>

        </div>

        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://ejournal.stpi.narl.org.tw/sd/download?source=9806/9806-04.pdf&vlId=8F0FEE1B-DCFF-4A1B-88C9-E9574AD80BAB&nd=0&ds=0"><img src="OceanEnvironment/PollutionMenu/express-img/20031015-1613-img0.webp">
                <p><h4>与水相关的疾病</h4></a>

            以水为媒介造成对人体伤害的疾病，多与饮用水有关，且都源于水源被病原菌、化学物质、重金属、其他微生物等污染。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/6/90725/"><img src="OceanEnvironment/PollutionMenu/express-img/20211227-0008-img0.jpg">
                <p><h4>孟加拉国养虾业引发淡水危机</h4></a>

            集约化水产养殖和气候变化引发的海平面上升正导致恒河三角洲地区的土地和水源盐碱化。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://www.portland.gov/zh-hans/water/water-quality/2022-nianyinyongshuizhiliangbaogao"><img src="OceanEnvironment/PollutionMenu/express-img/20220322-0010-img0.jpg">
                <p><h4>2022 年饮用水质量报告</h4></a>

            Portland Water Bureau（波特兰水务局）每年都会向所有客户提供饮用水质量报告 报告是应州政府和环保署（EPA）的规定，当中包含了 Portland（波特兰）饮用水及供水系统的重要信息。以下之 2022 年饮用水质量报告包含 2021 公历年里的水质结果。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <nav id="plastic"></nav>
            <nav id="oceans"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/3/93054/"><img src="OceanEnvironment/PollutionMenu/express-img/20230215-0011.jpg">
                <p><h4>印尼如何改“塑”命？</h4></a>

            印度尼西亚正在与荷兰合作打捞河流中的垃圾，防止其进入海洋。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <nav id="oceans"></nav>
            <a target="_NEWS" href="https://chinadialogueocean.net/zh/6/77341/"><img src="OceanEnvironment/PollutionMenu/express-img/20190104-0014.jpg">
                <p><h4>化学品污染事件后的渔村困境</h4></a>

            一场有毒化学品泄漏事故过去两个月后，“受伤”的渔村仍在经历纠结和困扰。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://chinadialogue.net/zh/7/41915/"><img src="OceanEnvironment/PollutionMenu/express-img/20130606-0015.jpg">
                <p><h4>中国一半城市饮用水不合格</h4></a>

            生活在中国城市的数亿人口，有一半饮用着不合格的自来水。</p>

        </div>
        <div class="item">
            <nav id="water"></nav>
            <a target="_NEWS" href="https://www.encyclopedie-environnement.org/zh/eau-zh/drinking-water-production-a-major-public-health-issue/"><img src="OceanEnvironment/PollutionMenu/express-img/20240309-0016.jpg">
                <p><h4>饮用水生产是一个重要的公共卫生议题</h4></a>

            饮用水生产和供应是一个关键的公共卫生话题。自19世纪末以来，从微生物学的发现到超微量化学分析，取得了长足的进展。这是公共卫生不断改善的主要原因之一。</p>

        </div>
    </div>
    <!-- main column end -->
    <!-------------------------------------------------------------------------------->
</div><!--- columnBg --->
<script src="OceanEnvironment/PollutionMenu/js/news-article.js"></script>

<!-- tmp_cn_sec-footer end -->

</body>
</html>