<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <script src="DataBrowsing/OceanStation/assets/js/jquery.min.js"></script>
    <script src="DataBrowsing/OceanStation/assets/js/echarts.min.js"></script>
    <script src="DataBrowsing/OceanStation/ZheLang/index_ZheLang.js"></script>
    <link rel="stylesheet" href="DataBrowsing/OceanStation/assets/style.css">
    <title>遮浪岛</title>
    <link rel="shortcut icon" href="DataBrowsing/favicon.ico">
</head>
<body>
<header class="header">
    <div class="head clearfix">
        <a href="China.html" class="a-access">
            <button class="submit">返回</button>
        </a>
    </div>
    <a href="#" class="logo">遮浪岛——<span>ZheLang</span></a>

</header>
<div class="mainbox">
    <ul class="clearfix nav1">
        <li style="width: 31%">

            <div class="box item9">
                <div class="tit1">风浪周期</div>
                <div class="boxnav" style="height: 350px;" id="echart4"></div>
            </div>
            <div class="box item9">
                <div class="tit1">风浪高度</div>
                <div class="boxnav" style="height: 350px;" id="echart1"></div>
            </div>
        </li>
        <li style="width: 31%">
            <div class="box item9">
                <div class="tit1">风速</div>
                <div class="boxnav" style="height: 350px;" id="echart5"></div>
            </div>
            <div class="box item9" >
                <div class="tit1">温度</div>
                <div class="boxnav" style="height: 350px;" id="echart2"></div>
            </div>

        </li>

        <li style="width: 31%">
            <div class="box item9">
                <div class="tit1">风向</div>
                <div class="boxnav" style="height: 350px;" id="echart3"></div>
            </div>
            <div class="box item9">
                <div class="tit1">气压</div>
                <div class="boxnav" style="height: 350px;" id="echart6"></div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>